<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="use_odom_translation" default="false" />
    <arg name="file_path" default="/root/datas/katori_0906/ply_data/after_TS5/" />
    <arg name="file_name" default="after_TS5_" />

    <arg name="lis_header_id" default="track_odom_frame" />
    <arg name="lis_child_id" default="track_pose_frame" />
    <arg name="pub_header_id" default="track_pose_frame" />
    <arg name="pub_child_id" default="cam_1_link" />

    <arg name="voxel_size" default="0.0128" />

    <arg name="meanK" default="3" />
    <arg name="mulThresh" default="45.0" />

    <arg name="first_position_x" default="0.0" />
    <arg name="first_position_y" default="-3.15" />
    <arg name="first_position_z" default="0.0" />

    <arg name="range_x_min" default="-2.0" />
    <arg name="range_x_max" default="2.0" />
    <arg name="range_y_min" default="1.0" />
    <arg name="range_y_max" default="5.3" />
    <arg name="range_z_min" default="3.0" />
    <arg name="range_z_max" default="5.7" />
    <arg name="range_under_z_min" default="1.5" />
    <arg name="range_under_z_max" default="5.5" />

    <arg name="under_cam_x" default="0.040" />
    <arg name="under_cam_z" default="-0.163" />


    <param name="/ply_from_pc2/use_translation" value="$(arg use_odom_translation)" /> 
    <param name="/ply_from_pc2/file_path" value="$(arg file_path)" /> 
    <param name="/ply_from_pc2/file_name" value="$(arg file_name)" /> 

    <param name="/ply_from_pc2/lis_header_id" value="$(arg lis_header_id)" /> 
    <param name="/ply_from_pc2/lis_child_id" value="$(arg lis_child_id)" /> 
    <param name="/ply_from_pc2/pub_header_id" value="$(arg pub_header_id)" /> 
    <param name="/ply_from_pc2/pub_child_id" value="$(arg pub_child_id)" /> 

    <param name="/ply_from_pc2/voxel_size" value="$(arg voxel_size)" /> 

    <param name="/ply_from_pc2/meanK" value="$(arg meanK)" /> 
    <param name="/ply_from_pc2/mulThresh" value="$(arg mulThresh)" /> 

    <param name="/ply_from_pc2/first_position_x" value="$(arg first_position_x)" /> 
    <param name="/ply_from_pc2/first_position_y" value="$(arg first_position_y)" /> 
    <param name="/ply_from_pc2/first_position_z" value="$(arg first_position_z)" /> 

    <param name="/ply_from_pc2/range_x_min" value="$(arg range_x_min)" /> 
    <param name="/ply_from_pc2/range_x_max" value="$(arg range_x_max)" /> 
    <param name="/ply_from_pc2/range_y_min" value="$(arg range_y_min)" /> 
    <param name="/ply_from_pc2/range_y_max" value="$(arg range_y_max)" /> 
    <param name="/ply_from_pc2/range_z_min" value="$(arg range_z_min)" /> 
    <param name="/ply_from_pc2/range_z_max" value="$(arg range_z_max)" /> 
    <param name="/ply_from_pc2/range_under_z_min" value="$(arg range_under_z_min)" /> 
    <param name="/ply_from_pc2/range_under_z_max" value="$(arg range_under_z_max)" /> 
    
    <param name="/ply_from_pc2/under_cam_x" value="$(arg under_cam_x)" /> 
    <param name="/ply_from_pc2/under_cam_z" value="$(arg under_cam_z)" /> 


    <node pkg="ply_from_pc2" name="ply_from_pc2" type="ply_from_pc2" output="screen" />

</launch>
